.button {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 29px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin: 40px 0 0 0;
}

.button:hover {
    color: #95FFD4;
}