.suspended-list label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.suspended-list select {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px 0 #0000000F;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}